@use "../abstracts/" as *;
@use "../utilities/" as *;

.cart {
  opacity: 0;
  transition: all 0.5s;

  &-show {
    opacity: 1;
  }

  &__content {
    @include container;
    padding-top: 55px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__info {
    margin-bottom: 8px;
  }

  &__title,
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    font-size: $font-large;
  }

  &__link {
    font-size: $font-small;
    text-decoration: underline;
  }

  &__products,
  &__total {
    font-size: $font-sale;
    opacity: 0.5;
  }

  &__subtotal {
    text-align: end;
    font-size: $font-medium;
    margin-top: 30px;
  }

  &__finish {
    @include flex-center;
    gap: 5px;
    width: 100%;
    height: 40px;
    font-size: $font-small;
    cursor: pointer;
    margin: 15px 0;
    background-color: rgba(133, 175, 99, 0.658);

    &:hover {
      background-color: rgba(133, 175, 99, 0.904);
    }
  }

  &__paypal {
    height: 100%;
    width: 25px;
  }
}
