@use "./../abstracts" as *;
@use "./../utilities/" as *;

.footer-wrap {
  border-top: 1px solid $color-border-light;
}

.footer {
  @include container;

  &__title {
    font-size: $font-medium-plus;
    margin-bottom: 30px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    font-size: $font-small;
    font-weight: 300;
    gap: 12px;
    margin-bottom: 65px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
  }

  &__subtitle {
    font-size: $font-medium-plus;
    margin-bottom: 10px;
  }

  &__email {
    padding: 15px 0;
    font-size: $font-small;
    text-decoration: underline;
    font-weight: 300;
  }
}
