@use "../utilities/" as *;
@use "../abstracts/" as *;

.products {
  @include container;
  max-width: 768px;
  opacity: 0;
  transition: all 0.5s;

  &-show {
    opacity: 1;
  }

  &__title {
    font-size: $font-large;
    margin: 25px 0;
  }

  &__cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    column-gap: 5px;
    row-gap: 17px;
  }
}
