@use "../abstracts" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

html,
body {
  font-size: 10px;
  scroll-behavior: smooth;
  color: $color-dark;
}

h1,
h2,
p {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: $color-dark;
}
