@use "./variables" as *;

@mixin icon() {
  width: 35px;
  height: 35px;
}

@mixin center() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin price($fontSize: $font-large) {
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
  }

  &__price {
    font-weight: 500;
    font-size: $fontSize;

    &--sale {
      opacity: 0.4;
      text-decoration: line-through;
    }
  }
}
