$color-light: #fff;
$color-dark: #333;
$color-border: #33333313;
$color-button: #ffffff63;
$color-border-light: #33333313;
$color-shadow: #33333333;
$color-shadow: #33333333;
$color-loading: #d6ac7f;

$font-sale: 1.2rem;
$font-small: 1.4rem;
$font-medium: 1.8rem;
$font-medium-plus: 2.1rem;
$font-large: 2.4rem;
$font-large-plus: 3rem;
$font-large-error: 6rem;
$font-login: 4rem;
